* {
  color: #d9d9d9;
}

html {
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  background-color: #151922;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden auto;
}

#first-text {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(coding.gif);
  width: 100%;
  height: 70%;
  font-size: 95px;
  text-shadow: 2px 2px 8px #151922;
  overflow: hidden scroll;
}

#headertext {
  width: 100%;
  height: 75px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2a3142;
  font-size: 45px;
  text-shadow: 9px 9px 15px #151922;
}

#posts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 0;
  overflow: hidden;
  background-image: url(wallpaper.jpg);
  background-color: #151922;
}

#posts p {
  padding: 15px;
  width: 70%;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  margin-left: 25px;
}

#informacoes {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  width: 100%;
  height: 1000px;
}

#grupo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
}

.img1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  rotate: -10deg;
  border-radius: 15px;
  margin: 40px 35px 5px 65px;
}

.img2 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  rotate: 10deg;
  border-radius: 15px;
  margin: 5px;
}

#nav2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 45px;
}

#nav2 ul li{
  list-style: none;
  display: inline;
  gap: 25px;
  margin-right: 45px;
  margin-left: 55px;
  font-size: 25px;
}

a {
  text-decoration: none;
}


@media screen and (max-width: 1549px) {
  #posts p {
  padding: 15px;
  width: 65%;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  margin-left: 25px;
}

}

@media screen and (max-width: 1146px){
  #posts p {
  padding: 15px;
  width: 65%;
  display: flex;
  align-items: center;
  font-size: 1.4em;
  margin-left: 25px;
}

#first-text {
  font-size: 4.6em;
}

#grupo {
  font-size: 1.4em;
  width: 80%;
}
}

@media screen and (max-width: 1032px) {
  #posts p {
  padding: 15px;
  width: 60%;
  display: flex;
  align-items: center;
  font-size: 1.3em;
  margin-left: 25px;
  }
  
  #first-text {
    font-size: 4.4em;
  }

  #grupo {
    font-size: 1.2em;
  }


  .img1 {
    width: 20%;
  }
  .img2 {
    width: 20%;
  }
}
